SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_WAREHOUSE=
SNOWFLAKE_RAW_DATABASE=CRYPTO_RAW
SNOWFLAKE_RAW_SCHEMA=PUBLIC
SNOWFLAKE_ANALYTICS_DATABASE=CRYPTO_ANALYTICS
SNOWFLAKE_ANALYTICS_SCHEMA=DBT_PZYGMUNT