# python
__pycache__/
*.pyc

# data (local files)
raw/
data/

# logs
logs/
log.txt

# dbt
target/
dbt_packages/
dbt_internal_packages/

# secrets 
.env
venv/
env/

# notes
projekt.txt
co instalowac.txt
concatFiles.py

# Python 
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# data
raw/
data/
*.json

# logs
*.log
logs/
log.txt

# dbt 
target/
dbt_packages/
dbt_modules/
*.pickle

# edytors and system
.vscode/
.idea/
.DS_Store
Thumbs.db