# secrets 
.env
venv/
env/

# notes
project_notes.txt
project_notes_2.txt
concatFiles.py
input.txt
output.txt

# Python 
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# data
raw/
data/
*.json

# logs
*.log
logs/
log.txt

# dbt 
target/
dbt_packages/
dbt_modules/
dbt_internal_packages/      # added by dbt studio
*.pickle

# editors and system
.vscode/
.idea/
.DS_Store
Thumbs.db
